body {
  font-family: 'Source Serif Pro',serif;
  font-size: 18px;
}
h1 {
  font-family: 'Source Sans Pro'
}
p {
  font-size: 18px;
  line-height: 1.6em;
  margin: 0em 0em 0em 0em;
  text-indent: 2em;
}

.hidden-latex {
  display: none;
}

#disqus_thread {
  width:90%;
  margin: 0 auto;
}

.md-nav--secondary .md-nav__link {
  display: block;
}

.md-nav--secondary .md-nav__link > * {
  display: inline;
}

